acme==1.21.0
aiofiles==22.1.0
aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.18.0
alembic==1.9.3
annotated-types==0.7.0
anyio==3.6.2
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciinema==2.1.0
asciitree==0.3.3
asttokens==2.2.1
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.3
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.2
bitsandbytes==0.43.1
black==24.4.2
bleach==6.0.0
blinker==1.4
Brlapi==0.8.3
cachetools==5.3.3
certbot==1.21.0
certifi==2020.6.20
certipy==0.1.3
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.0.1
clean-text==0.6.0
click==8.1.7
cloudpickle==3.0.0
cmake==3.29.6
colorama==0.4.4
comm==0.1.2
command-not-found==0.3
ConfigArgParse==1.5.3
configobj==5.0.6
cryptography==39.0.1
cupshelpers==1.0
dataclasses-json==0.6.6
datasets==2.19.1
dblatex==0.3.12
dbus-python==1.2.18
debugpy==1.6.6
decorator==5.1.1
deepeval==0.21.48
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
diskcache==5.6.3
distro==1.7.0
distro-info===1.1build1
dnspython==2.1.0
docx2txt==0.8
duplicity==0.8.21
email_validator==2.2.0
emoji==1.7.0
eval_type_backport==0.2.0
exceptiongroup==1.2.1
execnet==2.1.1
executing==1.2.0
fastapi==0.111.0
fastapi-cli==0.0.4
fasteners==0.14.1
fastjsonschema==2.16.2
filelock==3.14.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
ftfy==6.2.0
future==0.18.2
gae==0.0.1
gattlib==0.20201113
gdown==5.2.0
gdrive==0.1.5
gin==0.1.6
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
googletranslate==2.1.2
gpg===1.16.0-unknown
greenlet==2.0.2
grpcio==1.64.0
gspread==6.1.2
gyp==0.1
h11==0.14.0
httpcore==1.0.5
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.0
huggingface==0.0.1
huggingface-hub==0.23.2
idna==3.3
importlib_metadata==7.1.0
iniconfig==2.0.0
install==1.3.5
interegular==0.3.3
ipykernel==6.21.1
ipython==8.9.0
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.4.2
josepy==1.10.0
json5==0.9.11
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.4
jupyter-nbextensions-configurator==0.6.3
jupyter-telemetry==0.1.0
jupyter-ydoc==0.2.5
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.13.0
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterhub==3.1.1
jupyterhub-idle-culler==1.2.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.4
keyring==23.5.0
langchain-openai==0.1.8
langchain-text-splitters==0.2.0
langdetect==1.0.9
language-selector==0.1
lark==1.1.9
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
llvmlite==0.43.0
lockfile==0.12.2
louis==3.20.0
lxml==4.9.3
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.21.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistral_common==1.2.1
mistune==2.0.5
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.3
ninja==1.11.1.1
notebook_shim==0.2.2
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.161
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
nvitop==1.3.2
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
openai==1.30.5
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
orjson==3.10.3
outlines==0.0.46
overrides==7.7.0
packaging==23.2
pamela==1.0.0
pandas==2.2.2
pandocfilters==1.5.0
paramiko==2.9.3
parsedatetime==2.6
parso==0.8.3
pathspec==0.12.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.3.0
platformdirs==3.0.0
pluggy==1.5.0
portalocker==2.8.2
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.20.0
prompt-toolkit==3.0.36
proto-plus==1.23.0
protobuf==4.25.1
ps==0.1.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyBluez==0.23
pycairo==1.20.1
pycountry==24.6.1
pycparser==2.21
pycups==2.0.1
PyDrive==1.3.1
Pygments==2.18.0
PyGObject==3.42.1
PyICU==2.8.1
PyJWT==2.3.0
pylibiio==0.23
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==23.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.19.3
pysbd==0.3.4
PySocks==1.7.1
pytest==8.2.1
pytest-repeat==0.9.3
pytest-xdist==3.6.1
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-dotenv==1.0.1
python-json-logger==2.0.4
python-multipart==0.0.9
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.0.0
ragas==0.1.9
ray==2.31.0
referencing==0.34.0
regex==2024.5.15
reportlab==3.6.8
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
SecretStorage==3.3.1
Send2Trash==1.8.2
sentencepiece==0.1.99
sentry-sdk==2.3.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.3
ssh-import-id==5.11
stack-data==0.6.2
starlette==0.37.2
sympy==1.12
systemd-python==234
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
terminado==0.17.1
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.2.1
together==1.2.0
tokenizers==0.19.1
tomli==2.0.1
tornado==6.2
tqdm==4.66.4
traitlets==5.9.0
transformers==4.42.4
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.0
tzdata==2024.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ujson==5.10.0
unattended-upgrades==0.1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==2.2.1
usb-creator==0.3.7
uvicorn==0.30.1
uvloop==0.19.0
versioneer==0.29
wadllib==1.3.6
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==12.0
wikiextractor==3.0.7
wrapt==1.16.0
xdg==5
xkit==0.0.0
xxhash==3.4.1
y-py==0.6.2
yarl==1.9.4
ypy-websocket==0.8.4
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
